#!/bin/bash

# . ~/.zshrc

# asdf plugin add chezmoi &&
# asdf install chezmoi 2.27.0 &&
# asdf global chezmoi 2.27.0

asdf plugin add neovim

asdf install neovim 0.7.2 &&

asdf install neovim 0.8.1 &&
asdf global neovim 0.8.1

asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git &&
asdf install nodejs 18.12.1 &&
asdf global nodejs 18.12.1

npm install -g tree-sitter-cli
npm install -g pyright

{{ if eq .chezmoi.os "linux" }}

asdf plugin add python

asdf install python 3.10.7 &&
asdf global python 3.10.7

asdf install python 3.9.14

# installing neovim into the default python env
pip install neovim

{{ else }}
echo 'Not a linux system, not installing python in asdf (for work reasons)'
{{ end }}
